.address-box {
  display: flex;
  gap: 1rem;
  padding: 8px;
  width: 22rem;
  border: 1px solid var(--color-silver);
  cursor: pointer;
}

.address-box p {
  margin: 0;
}

.address-card-flex {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
