@import "../../styles/utility.css";

.wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

/* Main Section */
.product-page-main {
  grid-area: main;
  margin: 0 1rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
}
