.img-container {
  width: 12rem;
  height: 100%;
}

.card-horizontal {
  padding: 4px;
  border-radius: 5px;
}

.product-card-flex {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.75rem;
  width: 18rem;
}

.product-card-flex > button {
  margin-bottom: 2px;
  padding: 0.3em 0;
  border: 1px solid var(--color-green-600);
  border-radius: 2px;
}

.product-card-container {
  width: 28rem;
  margin: auto;
}

.product-m-top {
  margin-top: 4px;
}

.margin-tb-4px {
  margin: 4px 0;
}

@media screen and (max-width: 480px) {
  .product-card-container {
    width: 23rem;
  }
}
