:root {
  --z-index-header: 10;
  --z-index-toast-26: 26;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.cursor {
  cursor: pointer;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  text-align: center;
}

.color-success {
  color: var(--color-green-600);
}

.color-danger {
  color: var(--color-red);
}

.m-0 {
  margin: 0;
}
