.address-form {
  width: 35%;
  padding: 1rem 2rem 1rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: var(--color-white);
  z-index: var(--z-index-modal-20);
}

.address-form input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  outline: 0;
  padding: 8px 6px;
}

.address-flex {
  display: flex;
  justify-content: space-around;
}

.modal-bg {
  display: block;
}
