.checkout-main {
  padding-bottom: 6.8rem;
  margin-top: 1rem;
}

.checkout-page-wrapper {
  margin: 1.5rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "product price";
  gap: 1rem;
}

.checkout-btn {
  width: fit-content;
}

.address-container {
  grid-area: product;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.order-address-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 1rem;
  margin: 0 auto;
}

.order-address-card p {
  margin: 0;
}

.order-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-flex p {
  margin: 4px 0;
}

.border-tb {
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.border-top {
  border-top: 1px solid var(--color-silver);
}

.mb-8px {
  margin-bottom: 8px;
}

.mt-0 {
  margin-top: 0;
}

/* Responsiveness */
@media screen and (max-width: 1280px) {
  .checkout-page-wrapper {
    margin: 1.5rem 6rem;
  }
}

@media screen and (max-width: 1024px) {
  .checkout-page-wrapper {
    margin: 1.5rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .checkout-page-wrapper {
    margin: 1.5rem 3rem;
    grid-template-columns: 1fr;
    grid-template-areas: "product" "price";
    gap: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .checkout-page-wrapper {
    margin: 1.5rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .checkout-page-wrapper {
    margin: 1.5rem 10px;
  }
}
